<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/css/style.css' />
    <title>BizzaroApp</title>
</head>

<body>
    <header>
        <h1>Beware the Mondo Bizzaro</h1>
        <ul>
            <li>
                <a href="/users/new">Join the Mondo Squad</a>
            </li>
            <li>
                <a href="">Return to the Mondo Bizzaro</a>
            </li>
        </ul>
    </header>
</body>

</html>