<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/css/style.css' />
    <title>BizzaroApp</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Your Bizzaro Profile</a>
            <a href="#">What's new in the BizzaroRealm</a>
            <a href="#">MondoLibrary</a>
        </nav>
    </header>
        <a href="#" style="font-size: 50px;">What's new in the BizzaroRealm</a><br />
        <a href="#" style="font-size: 50px;">Tales from the Mondo Bizzaro</a><br />
        <a href="#" style="font-size: 50px;">Contact Us</a><br />
</body>
</html>