<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mondo Bizzaro</title>
</head>
<body>
    <header>Beware the Mondo Bizzaro</header>
        <form action="/users/login" method="post">
            Username: <input type="text" name="username"></br>
            Password: <input type="passsword" name="password"></form></br>
            <input type="submit" value="Login">
        </form>
</body>
</html>