<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BizzaroApp</title>
</head>
<body>
    <header>Become a MondoMember</header>
        <form action="/users/signup" method="post">
            Username: <input type="text" name="username" /></br>
            Password: <input type="passsword" name="password" /></br>
            <input type="submit" value="BizzaroButton" />
        </form>
</body>
</html>