<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Bizzaro Profile</title>
</head>
<body>
    <header>
        <nav>
            <a href="/library/library">Library</a>
            <a href="/users/uStory">Add Stories</a>
            <a href="/users/uArt">Add Art</a>
            <a href="/users/account">Account Details</a>
            <a href="#">Logout</a>
        </nav> 
    </header>
    <h1>Your Collection of Bizzarobooks</h1>
    <p>Most Recent Story</p>
    <p>Second Most Recent Story</p>
</body>
</html>