<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/css/style.css' />
    <title>User Art Page</title>
</head>

<body>
    <header>
        <h1>Your Personal Art!</h1>
    </header>
    
    <form action="/users/uArt" method="post">
        Show us your art: <input type="text" name="art" />
        <input type="submit" value="BizzaroButton" />
    </form>

    <p>Most recent upload</p>
    <p>2nd most recent upload</p>
    <p>3rd most recent upload</p>
    <p>4th most recent upload</p>
</body>

</html>